<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <!--  <resultMap id="BaseResultMap" type="com.example.entity.User">
         <result column="id" jdbcType="INTEGER" property="id" />
         <result column="userName" jdbcType="VARCHAR" property="userName" />
         <result column="passWord" jdbcType="VARCHAR" property="passWord" />
         <result column="realName" jdbcType="VARCHAR" property="realName" />
     </resultMap>

     <select id="Sel" resultType="com.example.entity.User">
         select * from login_user where id = #{id}
     </select> -->
    <!--
        <insert id="insert" parameterType="com.example.entity.User">
            insert into login_user (userId, userName, phone,
            sex)
            values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
            #{sex,jdbcType=VARCHAR})
        </insert>

        <insert id="insertSelective" parameterType="com.example.entity.User">
            insert into login_user
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="userid != null">
                    userId,
                </if>
                <if test="username != null">
                    userName,
                </if>
                <if test="phone != null">
                    phone,
                </if>
                <if test="sex != null">
                    sex,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="userid != null">
                    #{userid,jdbcType=INTEGER},
                </if>
                <if test="username != null">
                    #{username,jdbcType=VARCHAR},
                </if>
                <if test="phone != null">
                    #{phone,jdbcType=VARCHAR},
                </if>
                <if test="sex != null">
                    #{sex,jdbcType=VARCHAR},
                </if>
            </trim>
        </insert>
     -->
    <sql id="user_sql_param">
        user_id
        ,
        user_mobile_phone,
        user_register_time,
        user_password,
        user_role,
        info_id,
        user_state
    </sql>
    <sql id="order_by">
        <if test="orderRequests != null">
            <foreach collection="orderRequests" item="orderRequest" open="ORDER BY" separator=",">
                ${orderRequest.orderName} ${orderRequest.orderRule}
            </foreach>
        </if>
    </sql>
    <!-- 插入用户数据 -->
    <!-- Integer addnew(User user) -->
    <insert id="insertUserEntity" parameterType="UserEntity" keyProperty="user_id" keyColumn="user_id"
            useGeneratedKeys="true">
        INSERT INTO user (user_mobile_phone,
                          user_register_time,
                          user_password,
                          user_role)
        VALUES (#{user_mobile_phone},
                #{user_register_time},
                #{user_password},
                #{user_role})
    </insert>
    <select id="selectUserEntityByMobilePhone" resultType="UserEntity">
        SELECT
        <include refid="user_sql_param"></include>

        from
        user
        where
        user_mobile_phone=#{user_mobile_phone}
    </select>

    <insert id="insertOrganizationInfoEntity" parameterType="OrganizationInfoEntity" keyProperty="organization_info_id"
            keyColumn="organization_info_id" useGeneratedKeys="true">
        insert into organization_info (organization_name,
                                       organization_code,
                                       organization_area,
                                       organization_site,
                                       organization_postcode,
                                       organization_telephone,
                                       organization_mail,
                                       organization_principal_name,
                                       organization_principal_mobilephone,
                                       organization_performance_content,
                                       organization_license_file_info_id,
                                       organization_adjunct_file_info_id)
        values (#{organization_name},
                #{organization_code},
                #{organization_area},
                #{organization_site},
                #{organization_postcode},
                #{organization_telephone},
                #{organization_mail},
                #{organization_principal_name},
                #{organization_principal_mobilephone},
                #{organization_performance_content},
                #{organization_license_file_info_id},
                #{organization_adjunct_file_info_id})

    </insert>
    <insert id="insertBatchOrganizationInfoCareermanEntity" parameterType="java.util.List" useGeneratedKeys="false">
        insert into organization_info_careerman
        (
        organization_info_id,
        organization_careerman_name,
        organization_profession,
        organization_performance
        )
        values

        <foreach collection="oiceList" item="oice" separator=",">
            (
            #{organization_info_id},
            #{oice.organization_careerman_name},
            #{oice.organization_profession},
            #{oice.organization_performance}
            )
        </foreach>


    </insert>
    <insert id="insertUserInfoAuditEntity" parameterType="UserInfoAuditEntity" keyProperty="user_info_audit_id"
            useGeneratedKeys="true">
        insert into user_info_audit
        (user_info_audit_state,
         user_info_audit_describe,
         user_info_audit_addtime,
         user_info_audit_updatetime,
         user_info_audit_type,
         user_info_audit_content,
         info_id,
         user_id_add,
         user_id_edit)
        values
        (#{user_info_audit_state},
         #{user_info_audit_describe},
         #{user_info_audit_addtime},
         #{user_info_audit_updatetime},
         #{user_info_audit_type},
         #{user_info_audit_content},
         #{info_id},
         #{user_id_add},
         #{user_id_edit})

    </insert>
    <select id="selectUserEntityByMobilePhone_Password" resultType="UserEntity">
        select
        <include refid="user_sql_param"></include>
        FROM user
        where user_mobile_phone=#{user_mobile_phone} AND user_password=#{user_password}

    </select>

    <insert id="insertExpertInfoEntity" parameterType="ExpertInfoEntity" keyProperty="expert_info_id"
            useGeneratedKeys="true">
        insert into expert_info
        (expert_info_name,
         expert_info_gender,
         expert_info_mobilephone,
         expert_info_worktelephone,
         expert_info_idcard,
         expert_info_workstate,
         expert_info_companyname,
         expert_info_companysite,
         expert_info_postcode,
         expert_info_department,
         expert_info_duty,
         expert_info_companyphone,
         expert_info_companyfax,
         expert_info_mail,
         expert_info_school,
         expert_info_education,
         expert_info_qualification,
         expert_info_qualificationtype,
         expert_info_learnmajor,
         expert_info_workmajor,
         expert_info_declaredesign_design,
         expert_info_declaredesign_safety,
         expert_info_jobresume,
         expert_info_composition,
         expert_info_awardrecord,
         expert_info_researchachievement,
         expert_info_picture_file_info_id,
         expert_info_jadjunct_file_info_id,
         expert_info_birthday,
         expert_info_area)
        values
        (#{expert_info_name},
         #{expert_info_gender},
         #{expert_info_mobilephone},
         #{expert_info_worktelephone},
         #{expert_info_idcard},
         #{expert_info_workstate},
         #{expert_info_companyname},
         #{expert_info_companysite},
         #{expert_info_postcode},
         #{expert_info_department},
         #{expert_info_duty},
         #{expert_info_companyphone},
         #{expert_info_companyfax},
         #{expert_info_mail},
         #{expert_info_school},
         #{expert_info_education},
         #{expert_info_qualification},
         #{expert_info_qualificationtype},
         #{expert_info_learnmajor},
         #{expert_info_workmajor},
         #{expert_info_declaredesign_design},
         #{expert_info_declaredesign_safety},
         #{expert_info_jobresume},
         #{expert_info_composition},
         #{expert_info_awardrecord},
         #{expert_info_researchachievement},
         #{expert_info_picture_file_info_id},
         #{expert_info_jadjunct_file_info_id},
         #{expert_info_birthday},
         #{expert_info_area})

    </insert>

    <update id="updateUserInfoIdAUserStateByinfo_id">
        update
        user
        set
        <if test="user_state != '0' and user_state != null ">
            user_state=#{user_state},
        </if>
        info_id =#{info_id}
        WHERE
        user_id in
        (
        select user_id_add
        from user_info_audit
        where info_id =#{info_id}
        )
    </update>
    <select id="selectUserEntityByUId"
            resultType="UserEntity"
            parameterType="java.lang.Integer">
        SELECT
            user_id,
            user_mobile_phone,
            user_register_time,
            user_password,
            user_role,
            info_id,
            user_state
        FROM USER
        WHERE user_id = #{user_id}
    </select>
    <select id="selectOrganizationInfoNameIdListByState" resultType="java.util.Map">
        SELECT
        oi.organization_name,
        oi.organization_info_id,
        oi.organization_code,
        oi.organization_telephone,
        u.user_register_time,
        u.user_id
        FROM
        organization_info oi
        LEFT JOIN USER u ON (
        oi.organization_info_id = u.info_id
        )
        where u.user_role=2
        <if test="user_state !=null">
            and u.user_state=#{user_state}
        </if>
    </select>
    <select id="selectOrganizationListByState" resultType="java.util.Map">
        SELECT
        oi.organization_name,
        oi.organization_info_id,
        oi.organization_code,
        oi.organization_telephone,
        u.user_mobile_phone,
        u.user_register_time,
        u.user_id
        FROM
        organization_info oi
        LEFT JOIN USER u ON (
        oi.organization_info_id = u.info_id
        )
        where u.user_role=2
        <if test="user_state != null">
            and u.user_state=#{user_state}
        </if>
        <if test="SearchField != null and SearchField !='' and SearchField !=' '">
           and ((user_mobile_phone like "%${SearchField}%")
           or (organization_name like '%${SearchField}%')
           or (organization_code like '%${SearchField}%'))
        </if>
        <include refid="order_by"></include>

    </select>
    <select id="selectUserNum" resultType="java.lang.Integer">
        select count(*)
        from user
        where user_role = #{user_role}
          AND user_state = #{user_state}
    </select>
    <select id="selectOrganizationInfoLimit" resultType="java.util.Map">
        select u.user_id,
        oi.organization_name,
        oi.organization_info_id
        from user u
        left join organization_info oi
        on(u.info_id=oi.organization_info_id)
        where
        u.user_role=2
        AND
        u.user_state=#{user_state}
        <if test="excludeUids != null">
            <foreach collection="excludeUids" item="excludeUid">
                and u.user_id
                <![CDATA[ <> ]]>
                #{excludeUid}
            </foreach>
        </if>
        limit ${begin},${end}
    </select>
    <select id="selectExpertInfoList" resultType="java.util.Map">
        SELECT ei.expert_info_id,
        u.user_id,
        ei.expert_info_name,
        ei.expert_info_learnmajor,
        ei.expert_info_workmajor,
        ei.expert_info_companysite,
        ei.expert_info_area,
        fi.file_url,
        fi.file_name
        FROM user u LEFT JOIN expert_info ei
        on(u.info_id=ei.expert_info_id)
        left join file_info fi
        on(ei.expert_info_picture_file_info_id=fi.file_info_id)
        where u.user_role=1
        and u.user_state=#{user_state}
        <if test="orderRequests != null">
            <foreach collection="orderRequests" item="orderRequest" open="ORDER BY" separator=",">
                ${orderRequest.orderName} ${orderRequest.orderRule}
            </foreach>
        </if>
    </select>
    <select id="selectUserIdArrayByUrUs" resultType="java.lang.Integer">
        select u.user_id from
        user u
        <if test="expert_info_educations != null or expert_info_workmajors != null">
            left join expert_info ei
            on u.info_id=ei.expert_info_id
        </if>
        <trim prefix="where" suffix="" prefixOverrides="and">
            <if test="user_role != null">
                and user_role=#{user_role}
            </if>
            <if test="user_state != null">
                and user_state=#{user_state}
            </if>
            <if test="expert_info_educations != null">
                and
                <foreach collection="expert_info_educations" open=" (" close=")" item="item" separator="or">
                    ei.expert_info_education=#{item}
                </foreach>
            </if>
            <if test="expert_info_workmajors != null">
                and
                <foreach collection="expert_info_workmajors" open="(" close=")" item="item" separator="or">
                    ei.expert_info_workmajor=#{item}
                </foreach>
            </if>
        </trim>
    </select>
    <select id="selectExpertInfoListById" resultType="java.util.Map">
        select u.user_id,ei.expert_info_name from
        user u
        left join expert_info ei
        on(u.info_id=ei.expert_info_id)
        <trim prefix="where">
            <if test="Uids!=null">
                <foreach collection="Uids" item="item" separator="or">
                    u.user_id=${item}
                </foreach>
            </if>
        </trim>
    </select>
    <select id="selectOieByPpProjectid" resultType="java.util.Map">
        SELECT
            oi.organization_info_id,
            oi.organization_telephone,
            oi.organization_name
        FROM
            USER u
                LEFT JOIN organization_info oi ON (
                u.info_id = oi.organization_info_id
                )
        WHERE
                u.user_id IN (
                SELECT
                    user_id
                FROM
                    project_participant
                WHERE
                    project_info_id = #{project_info_id}
            )
          AND u.user_role = 2
    </select>
    <select id="selectExperList" resultType="java.util.Map">
        SELECT
        u.user_id,
        ei.expert_info_name,
        u.user_mobile_phone,
        ei.expert_info_idcard,
        ei.expert_info_companyname,
        ei.expert_info_department,
        ei.expert_info_mail,
        ei.expert_info_education,
        ei.expert_info_learnmajor
        FROM
        USER u
        LEFT JOIN expert_info ei
        on(u.info_id=ei.expert_info_id)
        where u.user_role=1
        and u.user_state=2
        <if test="conditions !=null and conditions != 'null' ">
            and (
            ei.expert_info_name like "%${conditions}%"
            or ei.expert_info_idcard like "%${conditions}%"
            or u.user_mobile_phone like "%{conditions}%"
            or ei.expert_info_companyname like "%{conditions}%"
            )
        </if>


        <if test="orderRequests != null">
            <foreach collection="orderRequests" item="orderRequest" open="ORDER BY" separator=",">
                ${orderRequest.orderName} ${orderRequest.orderRule}
            </foreach>
        </if>
    </select>

    <select id="selectOrganizationList" resultType="java.util.Map">
        SELECT
        u.user_id,
        u.user_mobile_phone,
        oi.organization_name,
        oi.organization_code,
        oi.organization_telephone,
        oi.organization_site,
        oi.organization_postcode
        FROM
        USER u
        LEFT JOIN organization_info oi
        on(u.info_id=oi.organization_info_id)
        where u.user_role=2
        and u.user_state=2
        <if test="conditions !=null and conditions != 'null' ">
            and (
            u.user_mobile_phone like "%${conditions}%"
            or oi.organization_name like "%${conditions}%"
            or oi.organization_code like "%{conditions}%"
            )
        </if>


        <if test="orderRequests != null">
            <foreach collection="orderRequests" item="orderRequest" open="ORDER BY" separator=",">
                ${orderRequest.orderName} ${orderRequest.orderRule}
            </foreach>
        </if>
    </select>
    <update id="updatePasswordByUserId">
        update
            user
        set
            user_password=#{password}
        where
            user_id = #{userId}
    </update>
    <update id="updatePasswordByUseruserMobilePhone">
        update
            user
        set
            user_password=#{password}
        where
            user_mobile_phone = #{userMobilePhone}
    </update>

</mapper>
