<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.UserInfoAuditMapper">
    <sql id="order_by">
        <if test="orderRequests != null">
            <foreach collection="orderRequests" item="orderRequest" open="ORDER BY" separator=",">
                ${orderRequest.orderName} ${orderRequest.orderRule}
            </foreach>
        </if>
    </sql>

    <select id="selectUserInfoAuditOrganizationByStateATypeExportExcel" resultType="java.util.Map">
        SELECT
        uia.user_info_audit_id,
        case uia.user_info_audit_state
        when 1 then '未审核'
        when 2 then '拒绝'
        when 3 then '通过'
        end
        ,
        from_unixtime(uia.user_info_audit_addtime,'%Y-%m-%d %H:%i:%S'),
        <!--uia.user_info_audit_type,-->
        oi.organization_name,
        oi.organization_code,
        u.user_mobile_phone
        <!--uia.info_id-->
        FROM
        user_info_audit AS uia
        LEFT JOIN organization_info oi ON (
        uia.info_id = oi.organization_info_id
        )
        where
        1=1
        <if test="uia.user_info_audit_content != null and uia.user_info_audit_content !='1'.toString()">
            and uia.user_info_audit_content =#{uia.user_info_audit_content}
        </if>

        <choose>
            <when test="user_info_audit_state !=null and user_info_audit_state != '0'.toString()">
                and uia.user_info_audit_state =#{user_info_audit_state}
                <if test="user_info_audit_type !=null and user_info_audit_type !='0'.toString()">
                    and uia.user_info_audit_type=#{user_info_audit_type}
                </if>
            </when>
            <otherwise>
                <if test="user_info_audit_type !=null and user_info_audit_type !='0'.toString()">
                    and uia.user_info_audit_type=#{user_info_audit_type}
                </if>
            </otherwise>
        </choose>
        limt #{index},#{num}
    </select>
    <select id="selectUserInfoAuditOrganizationByStateAType" resultType="java.util.Map">
        SELECT
        uia.user_info_audit_id,
        uia.user_info_audit_state,
        uia.user_info_audit_addtime,
        uia.user_info_audit_type,
        oi.organization_name,
        oi.organization_code,
        uia.info_id
        FROM
        user_info_audit AS uia
        LEFT JOIN organization_info oi ON (
        uia.info_id = oi.organization_info_id
        )
        LEFT JOIN user u on(
        u.info_id=uia.info_id
        )
        where uia.user_info_audit_content =1
        <choose>
            <when test="user_info_audit_state !=null and user_info_audit_state != '0'.toString()">
                and uia.user_info_audit_state =#{user_info_audit_state}
                <if test="user_info_audit_type !=null and user_info_audit_type !='0'.toString()">
                    and uia.user_info_audit_type=#{user_info_audit_type}
                </if>
            </when>
            <otherwise>
                <if test="user_info_audit_type !=null and user_info_audit_type !='0'.toString()">
                    and uia.user_info_audit_type=#{user_info_audit_type}
                </if>
            </otherwise>
        </choose>
    </select>
    <select id="selectOrganizationInfoEntityFull" resultType="OrganizationInfoEntity">
        select *
        from organization_info
        where organization_info_id = #{organization_info_id}
    </select>

    <select id="selectOrganizationInfoCareermanFullByOrgInfoId" resultType="OrganizationInfoCareermanEntity">
        select *
        from organization_info_careerman
        where organization_info_id = #{organization_info_id}

    </select>
    <select id="selectFileInfoeEntityFullByFileId" resultType="FileInfoeEntity">
        select *
        from file_info
        where file_info_id = #{file_info_id}
    </select>
    <select id="selectUserInfoAuditByUid" resultType="UserInfoAuditEntity">
        SELECT *
        FROM user_info_audit
        WHERE user_id_add = #{user_id_add}

    </select>

    <select id="selectUserInfoAuditFirstByUid" resultType="UserInfoAuditEntity">
        SELECT
            *
        FROM
            user_info_audit
        WHERE
            user_id_add = #{user_id_idd}
        ORDER BY user_info_audit_addtime
            ASC
                 LIMIT 0,1
    </select>

    <select id="selectUserInfoAuditExpertByStateAType" resultType="java.util.Map">
        SELECT
        u.user_id,
        uia.user_info_audit_id,
        uia.user_info_audit_state,
        uia.user_info_audit_addtime,
        uia.user_info_audit_type,
        ei.expert_info_name,
        ei.expert_info_idcard,
        ei.expert_info_companyname,
        u.user_mobile_phone,
        uia.info_id
        FROM
        user_info_audit AS uia
        LEFT JOIN expert_info ei ON (
        uia.info_id = ei.expert_info_id
        )
        LEFT JOIN user u ON(
        u.info_id=ei.expert_info_id
        )
        where uia.user_info_audit_content =2
        <choose>
            <when test="user_info_audit_state !=null and user_info_audit_state != '0'.toString()">
                and uia.user_info_audit_state =#{user_info_audit_state}
                <if test="user_info_audit_type !=null and user_info_audit_type !='0'.toString()">
                    and uia.user_info_audit_type=#{user_info_audit_type}
                </if>
            </when>
            <otherwise>
                <if test="user_info_audit_type !=null and user_info_audit_type !='0'.toString()">
                    and uia.user_info_audit_type=#{user_info_audit_type}
                </if>
            </otherwise>
        </choose>
    </select>
    <select id="selectLikeUserInfoAuditExpertByStateAType" resultType="java.util.Map">
        SELECT
        u.user_id,
        uia.user_info_audit_id,
        uia.user_info_audit_state,
        uia.user_info_audit_addtime,
        uia.user_info_audit_type,
        ei.expert_info_name,
        ei.expert_info_idcard,
        ei.expert_info_companyname,
        ei.expert_info_education,
        ei.expert_info_learnmajor,
        u.user_mobile_phone,
        uia.info_id
        FROM
        user_info_audit AS uia
        LEFT JOIN expert_info ei ON (
        uia.info_id = ei.expert_info_id
        )
        LEFT JOIN user u ON(
        u.info_id=ei.expert_info_id
        )
        where uia.user_info_audit_content =2
        <choose>
            <when test="user_info_audit_state !=null and user_info_audit_state != '0'.toString()">
                and uia.user_info_audit_state =#{user_info_audit_state}
                <if test="user_info_audit_type !=null and user_info_audit_type !='0'.toString()">
                    and uia.user_info_audit_type=#{user_info_audit_type}
                </if>
            </when>
            <otherwise>
                <if test="user_info_audit_type !=null and user_info_audit_type !='0'.toString()">
                    and uia.user_info_audit_type=#{user_info_audit_type}
                </if>
            </otherwise>
        </choose>
        <if test="condition !=null">

        </if>
        AND (
        ei.expert_info_name
        like
        "%${condition}%"
        or
        ei.expert_info_idcard
        like
        "%${condition}%"
        or
        u.user_mobile_phone
        like
        "%${condition}%"
        )
        <include refid="order_by"></include>
    </select>
    <select id="selectLikeUserInfoAuditOrganizationByStateAType" resultType="java.util.Map">
        SELECT
        u.user_id,
        uia.user_info_audit_id,
        uia.user_info_audit_state,
        uia.user_info_audit_addtime,
        uia.user_info_audit_type,
        oi.organization_name,
        oi.organization_code,
        u.user_mobile_phone,
        uia.info_id
        FROM
        user_info_audit AS uia
        LEFT JOIN organization_info oi ON (
        uia.info_id = oi.organization_info_id
        )
        LEFT JOIN user u ON(
        u.info_id= oi.organization_info_id
        )
        where uia.user_info_audit_content =2
        <choose>
            <when test="user_info_audit_state !=null and user_info_audit_state != '0'.toString()">
                and uia.user_info_audit_state =#{user_info_audit_state}
                <if test="user_info_audit_type !=null and user_info_audit_type !='0'.toString()">
                    and uia.user_info_audit_type=#{user_info_audit_type}
                </if>
            </when>
            <otherwise>
                <if test="user_info_audit_type !=null and user_info_audit_type !='0'.toString()">
                    and uia.user_info_audit_type=#{user_info_audit_type}
                </if>
            </otherwise>
        </choose>
        <if test="condition !=null">

        </if>
        AND (
        oi.organization_name
        like
        "%${condition}%"
        or
        oi.organization_code
        like
        "%${condition}%"
        or
        u.user_mobile_phone
        like
        "%${condition}%"
        )
        <include refid="order_by"></include>
    </select>
    <update id="updateUserInfoAuditStateByinfoId">
        update user_info_audit
        set
        user_info_audit_state=#{user_info_audit_state}
        <trim prefix=",">
            <if test="user_info_audit_describe != null">
                user_info_audit_describe=#{user_info_audit_describe}
            </if>
        </trim>
        where info_id=#{info_id}
    </update>
    <select id="selectExpertInfoFull" resultType="ExpertInfoEntity">
        select *
        from expert_info
        where expert_info_id = #{expert_info_id}
    </select>
    <select id="selectUserInfoAuditRecentlyByUid" resultType="UserInfoAuditEntity">
        SELECT
            *
        FROM
            user_info_audit
        WHERE
            user_id_add = #{user_id_idd}
        ORDER BY user_info_audit_addtime
            DESC
                 LIMIT 0,1
    </select>
    <select id="selectUiaByUid" resultType="java.lang.Integer">
        select count(*)
        from user_info_audit
        where user_id_add = #{Uid}
          AND user_info_audit_content = #{user_info_audit_content}
          And user_info_audit_state = 1
    </select>
    <select id="selectExperInfoByQueryFields" resultType="java.util.LinkedHashMap">
        SELECT
        <foreach collection="queryFields" item="queryField" separator=",">
            <choose>
                <when test="queryField.equals('user_register_time')">
                    FROM_UNIXTIME( ${queryField} / 1000, '%Y-%m-%d %H:%i:%s' ) as user_register_time
                </when>
                <when test="queryField.equals('user_role')">
                    CASE
                    user_role
                    WHEN 1 THEN
                    "专家"
                    WHEN 2 THEN
                    "第三方机构"
                    WHEN 3 THEN
                    "煤监局"
                    WHEN 4 THEN
                    "能源局"
                    END as user_role
                </when>
                <when test="queryField.equals('user_state')">
                    CASE
                    user_state
                    WHEN 1 THEN
                    '未认证审核'
                    WHEN 2 THEN
                    '已认证审核'
                    WHEN 3 THEN
                    '解聘'
                    END as user_state
                </when>
                <when test="queryField.equals('expert_info_education')">
                    CASE expert_info_education
                    WHEN 1 THEN '小学'
                    WHEN 2 THEN '初中'
                    WHEN 3 THEN '高中'
                    WHEN 4 THEN '大学'
                    WHEN 5 THEN '硕士'
                    WHEN 6 THEN '博士'
                    WHEN 7 THEN '更多'
                    END as expert_info_education
                </when>
                <when test="queryField.equals('expert_info_learnmajor')">
                    specialtyMap(${queryField},'expert_info_learnmajor','|') as expert_info_learnmajor
                </when>
                <when test="queryField.equals('expert_info_workmajor')">
                    specialtyMap(${queryField},'expert_info_workmajor','|') as expert_info_workmajor
                </when>
                <when test="queryField.equals('expert_info_declaredesign_design')">
                    specialtyMap(${queryField},'expert_info_declaredesign_design','|') as
                    expert_info_declaredesign_design
                </when>
                <when test="queryField.equals('expert_info_declaredesign_safety')">
                    specialtyMap(${queryField},'expert_info_declaredesign_safety','|') as
                    expert_info_declaredesign_safety
                </when>
                <when test="queryField.equals('user_info_audit_state')">
                    case ${queryField}
                    WHEN 1 THEN '未审核'
                    WHEN 2 THEN '拒绝'
                    WHEN 3 THEN '通过'
                    END as user_info_audit_state
                </when>
                <when test="queryField.equals('user_info_audit_addtime')">
                    FROM_UNIXTIME(user_info_audit_addtime/1000,'%Y-%m-%d %H:%i:%s') as user_info_audit_addtime
                </when>
                <when test="queryField.equals('user_info_audit_type')">
                    CASE user_info_audit_type
                    WHEN 1 THEN "初审"
                    WHEN 2 THEN "变更审核"
                    END as user_info_audit_type
                </when>
                <otherwise>${queryField}</otherwise>
            </choose>
        </foreach>
        FROM user_info_audit AS uia
        LEFT JOIN expert_info ei ON ( uia.info_id = ei.expert_info_id )
        LEFT JOIN USER u ON ( u.user_id = uia.user_id_add )
        WHERE user_info_audit_content=2
        <if test="user_info_audit_state != null and user_info_audit_state != '0'.toString()">
            AND user_info_audit_state=#{user_info_audit_state}
        </if>
        <if test="user_info_audit_type != null and user_info_audit_type != '0'.toString()">
            AND user_info_audit_type=#{user_info_audit_type}
        </if>
    </select>
    <select id="selectOrganizationInfoByQueryFields" resultType="java.util.LinkedHashMap">
        select
        <foreach collection="queryFields" separator="," item="queryField">
            <choose>
                <when test="queryField.equals('user_register_time')">
                    FROM_UNIXTIME(user_register_time/1000,'%Y-%m-%d %H:%i:%s') as user_register_time
                </when>
                <when test="queryField.equals('user_info_audit_addtime')">
                    FROM_UNIXTIME(user_info_audit_addtime/1000,'%Y-%m-%d %H:%i:%s') as user_info_audit_addtime
                </when>
                <when test="queryField.equals('user_role')">
                    CASE
                    user_role
                    WHEN 1 THEN
                    "专家"
                    WHEN 2 THEN
                    "第三方机构"
                    WHEN 3 THEN
                    "煤监局"
                    WHEN 4 THEN
                    "能源局"
                    END as user_role
                </when>
                <when test="queryField.equals('user_state')">
                    CASE
                    user_state
                    WHEN 1 THEN
                    '未认证审核'
                    WHEN 2 THEN
                    '已认证审核'
                    WHEN 3 THEN
                    '解聘'
                    END as user_state
                </when>
                <when test="queryField.equals('user_info_audit_state')">
                    case ${queryField}
                    WHEN 1 THEN '未审核'
                    WHEN 2 THEN '拒绝'
                    WHEN 3 THEN '通过'
                    END as user_info_audit_state
                </when>
                <when test="queryField.equals('user_info_audit_type')">
                    CASE user_info_audit_type
                    WHEN 1 THEN "初审"
                    WHEN 2 THEN "变更审核"
                    END as user_info_audit_type
                </when>
                <otherwise>
                    ${queryField}
                </otherwise>
            </choose>
        </foreach>
        FROM
        user_info_audit uia
        LEFT JOIN organization_info oi ON (uia.info_id=oi.organization_info_id )
        LEFT JOIN user u on(uia.user_id_add=u.user_id)
        where user_info_audit_content=1
    </select>

</mapper>